[Desktop Entry]
Name=@@NAME_LONG@@ - URL Handler
Comment=AI-Powered Agent IDE
GenericName=AI Agent IDE
Exec=@@EXEC@@ --open-url %U
Icon=@@ICON@@
Type=Application
NoDisplay=true
StartupNotify=true
Categories=Utility;TextEditor;Development;IDE;
MimeType=x-scheme-handler/@@URLPROTOCOL@@;
Keywords=sagentai;ai;agent;ide;
